header {
  color: white;
}
body {
  background-image: url(../img/fondo.jpg);
  background-repeat: repeat;
  background-size: cover;
}
img {
  min-height: 100px;
}
.contenedor-principal {
  background-color: rgba(8, 45, 94, 0.7);
}
h5, h6, p {
  color: white;
}
.img-8 {
  width: 15%;
}
.img-historial {
  width: 25%;
  float: left;
}
